@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Roboto+Flex:wght@100;200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif;
}


body {
    background-color:#0A0903 
  }
  
  .square {
    float: left;
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    /* background-color: burlywood; */
    margin: 10px;

    
  }
  
  .container {
    max-width: 600px;
    margin: 10px auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
  
  h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 15px;
  }
  
  #message{
      color: white;
      font-size: x-large;
  }


  
  #stripe{
    background-color: #4d4d4d;
    height: 60px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .selected{
    /* background-color: red; */
    padding: 5px;
    margin-left: 15px;
    background: #FE64A3;
    color: white;
    border: none;
    box-shadow: 0 0 5px #FE64A3, 0 0 10px #FE64A3, 0 0 20px #FE64A3;
    font-size: medium;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .btn{

       padding: 5px;
       margin-left: 15px;
       color: #000000;
       border: none;
       font-size: medium;
       letter-spacing: 2px;
       font-weight: bold;

  }

  .btns{
    display: flex;
    justify-content:space-evenly;
  }

.btn-reset{
      padding: 5px;
      margin-left: 15px;
      background: #FE64A3;
      color: white;
      border: none;
      box-shadow: 0 0 5px #FE64A3, 0 0 10px #FE64A3, 0 0 20px #FE64A3;
      font-size: medium;
      letter-spacing: 2px;
      font-weight: bold;
}